.navbar-brand {
  padding: 10px 15px;
}
/* Solutions for mobile and small screens  */

@media (min-width: 800px) {
    #banner {
        background-position: right -50px;
        background-size: 100% auto;
    }
}

@media (max-width: 500px) {
    #banner {
        background-position: right -50px;
        background-size: 300% auto;
        height: 100%;
    }
}

/*#banner {
  height: initial;
}
*/

.img-thumbnail {
  background-color: transparent;
  border: transparent;
}

p {
  margin: 15px 0;
}

/* Menu  */
.menuc {
  position: fixed; top: 100px; left: 10px; 
}

.menuc ul{
  list-style:none;  
  margin:0;
  padding:0;
  width:200px;  
  margin:20px;  
}
.menuc ul li{
  display:block;
  height:20px;    
  padding:5px;  
  border-top:1px solid rgba(255,255,255,.1);  
  transition:all .5s;
  opacity:0;
}
.menuc ul li:hover{
  background:#ccc;
}
.menuc ul li:last-child{
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.menuc label:before{
  height:2px;
  width:20px;
  background:#333;
  display:inline-block;
  content:"";
  box-shadow:0px -5px 0px 0px  #333,
             0px -10px 0px 0px #333;
  margin-right:10px;
  transition:all .5s;
  position:relative;
  opacity:1;
}
.menuc label{
  display:block;  
  padding:10px;
  color:white;  
  cursor:pointer; 
}
.menuc input[type="checkbox"]{
  visibility:hidden;
  position:absolute;
}
.menuc #collapse:checked ~ li{  
  margin-top:0;
  opacity:1;
}
.menuc #collapse:checked + label:before{
  position:relative;
  right:calc(-40px);
  opacity:0.5;
}

#section_carousel{
    
    margin:0;
    padding:0;
    width:90;
    height:90;
    
}


/* Ipython code blocks*/
/*.input_area {
  background-color: #35362f;
  }*/


/* Photo carousel - caption background color not working*/
/*.carousel-caption {
 text-align: center;
 text-color: #FFFFFF;
 background-color: #2E2F2A;
 height: 500px
}

.caption-below {
 text-align: center;
 text-color: #FFFFFF;
 background-color: #2E2F2A;
 height: 500px   
}
.caption-below h1 {
 font: bold large;
}
.caption-below p {
 margin-left: 20%;
 margin-right: 20%;
 font: small;
 }*/

/*.carousel slide{
  background-color: #2E2F2A;
}*/
.carousel.carousel-inner{
  background-color: #000000;
 }